{% extends "reusables/base.html" %}
{% block title %}Add student{% endblock %}
{% block content %}
    <div style="margin: 2vw">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <div style="margin: 0.5vw">
                        <div style="width: 5vw; display: inline-block">{{ field.label_tag }}</div>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Save me ">
        </form>
    </div>
{% endblock %}