{#{% for student in students %}#}
{#    <div style="display: flex; width: 55vw; margin:1vw; justify-content: center;align-items: center; border-style: groove">#}
{#        <p style="width: 8%; margin:1vw">{{ student.id }}</p>#}
{#        <p style="width: 20%; margin:1vw">{{ student.name }}</p>#}
{#        <div style="display: flex; flex-direction: column; width: 50%; margin:1vw; justify-content: center;align-items: center">#}
{#            {% for university in student.name %}#}
{#                {{  university.name}},#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}