{% extends "reusables/base.html" %}
{% block title %}All students{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: column; width: 60vw; margin:2vw; justify-content: center;align-items: center">
        <a href={% url 'add_new_student' %}>Add new student</a>
        {% for student in  students %}
            <div style="display: flex; width: 55vw; margin:1vw; justify-content: center;align-items: center; border-style: groove">
                <p style="width: 8%; margin:1vw">{{ student.id }}</p>
                <a href="{% url 'student_view' student.id %}" style="width: 20%; margin:1vw">{{ student.first_name }}</a>
                <form action="{% url 'student_update' student.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Update student {{ student.name }}">
                </form>
                <form action="{% url 'student_delete' student.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete student {{ student.name }}">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}