{% extends "reusables/base.html" %}
{% block title %}Student info{% endblock %}
{% block content %}
    <div style="display: flex; width: 50vw; margin:2vw; justify-content: center;align-items: center">
        <p style="width: 7%; margin:1vw">{{ student.id }}</p>
        <p style="width: 35%; margin:1vw">{{ student.name }}</p>
        <p style="width: 35%; margin:1vw">{{ student.address }}</p>
        <p style="width: 35%; margin:1vw">{{ student.birthday }}</p>
{#        <div style="width: 55%">#}
{#            {% for uni_lesson in student.uni_lesson.all%}#}
{#                <div style="display: flex">#}
{#                    <div style="margin: 0.5vw">{{ uni_lesson.id }}</div>#}
{#                    <div style="margin: 0.5vw">{{ uni_lesson.university.name }}</div>#}
{#                    <div style="margin: 0.5vw">{{ uni_lesson.university.id }}</div>#}
{#                    <div style="margin: 0.5vw">{{ uni_lesson.lesson.name }}</div>#}
{#                    <div style="margin: 0.5vw">{{ uni_lesson.lesson.id }}</div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
{% endblock %}