    <nav>
        <a style="width: 5vw; margin-left: 1vw" href="{% url 'home' %}">home</a>
        <a style="width: 5vw; margin-left: 1vw" href="{% url 'students' %}">students</a>
        <a style="width: 5vw; margin-left: 1vw" href="{% url 'universities' %}">universities</a>
        <a style="width: 5vw; margin-left: 1vw" href="{% url 'lessons' %}">lessons</a>
    </nav>


