{% extends "reusables/base.html" %}
{% block title %}Lessons{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: column; width: 50vw; margin:2vw; justify-content: center;align-items: center">
        {% for lesson in  lessons %}
            <div style="display: flex; width: 40vw; margin:1vw; align-items: center">
                <p style="width: 5%; margin:1vw">{{ lesson.id }}</p>
                <p style="width: 50%; margin:1vw">{{ lesson.name }}</p>
                {% for uni_lesson in lesson.university_lesson.all%}
                    <div style="display: flex">
                        <div style="margin: 0.5vw">{{ uni_lesson.university.name }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}