{% extends "reusables/base.html" %}
{% block title %}Universities{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: column; width: 55vw; margin:2vw; justify-content: center;align-items: center">
        {% for university in  universities%}
            <div style="display: flex; width: 50vw; margin:1vw; justify-content: center;align-items: center">
                <p style="width: 10%; margin:1vw">{{ university.id }}</p>
                <p style="width: 30%; margin:1vw">{{ university.name }}</p>
                <p style="width: 60%; margin:1vw">
                    {%  for uni_lesson in university.lesson_university.all %}
                        {{ uni_lesson.lesson.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}