<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.cjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
</head>
<body>

{% verbatim %}

<div id="vue_app">

</div>

{% endverbatim %}

<script src="/static/app.js"></script>
</body>
</html>